<% if action == :edit %>
  <% action_url = band_url(band) %>
<% else %>
  <% action_url = bands_url %>
<% end %>

<h1><%= action.to_s.capitalize %> Band</h1>

<form action="<%= action_url %>" method="post">
  <% if action == :edit %>
    <%= '<input type="hidden" name="_method" value="PATCH">'.html_safe %>
  <% end %>

  <%= render 'shared/forgery' %>

  <label for="name">Band Name</label>
  <input type="text" name="band[name]" value="<%= band.name %>" id="name">

  <input type="submit" value="Submit">
</form>
